---
// SPDX-License-Identifier: MIT
interface Feature {
  title: string;
  description: string;
  class: string[];
}
const features: Feature[] = [
  {
    title: "Play Music",
    description:
      "Play any music straight from Discord from YouTube, Spotify, SoundCloud and more...",
    class: ["fas", "fa-music fa-2x"],
  },
  // FIXME:
  {
    title: "Connect Spotify",
    description: "Connect your spotify account and play your playlists directly using vibr",
    class: ["fa", "fa-spotify fa-2x"],
  },
  {
    title: "Filters",
    description: "Use various filters to customize the music. Bassboost, nightcore, rotate and more!",
    class: ["fa", "fa-filter fa-2x"],
  },
  {
    title: "High Quality",
    description: "Listen to your favourite music in high quality all day long! No restrictions, No ads!",
    class: ["fa", "fa-thumbs-up fa-2x"],
  },
  
];
---

<section class="bg-slate-900 text-white">
  <h2 class="text-center text-4xl font-medium pt-10 mb-14 pb-5 font-sans text-white">
    Features
  </h2>

  <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 justify-items-center m-auto w-auto">
    {
      features.map((feature) => (
        <li class="bg-blue-700 text-center rounded-md p-6 m-3 max-w-sm">
          <i class:list={feature.class} />
          <h5 class="text-lg font-medium mt-3 mb-2">{feature.title}</h5>
          <p class="text-lg">{feature.description}</p>
        </li>
      ))
    }
  </ul>
</section>
