<div class="bg-[#111] text-[#fff] pl-[10px]">
    <div class="flex flex-wrap items-center justify-between">
        <div class="pt-10 px-[80px] m-auto">
            <h2 class="text-4xl text-center">Features</h2>
            <div class="">
                <div class="w-[calc(33%-20px)] bg-blue-700 text-center rounded-md py-12 px-6 cursor-pointer">
                    <i class=""></i>
                    <div class="text-[25px] font-medium mt-3 mb-2 ">Play Music</div>
                    <p class="text-lg">Play Music straight on your discord </p>
                </div>
            </div>
            <div class="">
                <div class="w-[calc(33%-20px)] bg-blue-700 text-center rounded-md py-12 px-6 cursor-pointer">
                    <i class=""></i>
                    <div class="text-[25px] font-medium mt-3 mb-2 ">Play Music</div>
                    <p class="text-lg">Play Music straight on your discord </p>
                </div>
            </div>
            <div class="">
                <div class="w-[calc(33%-20px)] bg-blue-700 text-center rounded-md py-12 px-6 cursor-pointer">
                    <i class=""></i>
                    <div class="text-[25px] font-medium mt-3 mb-2 ">Play Music</div>
                    <p class="text-lg">Play Music straight on your discord </p>
                </div>
            </div>
        </div>
    </div>
</div>
