---
// SPDX-License-Identifier: MIT
---

<div class="bg-[#111] text-[#fff] pl-[10px]">
  <div class="max-w-[1300px] py-20 px-0 m-auto">
    <h2 class="title before:bg-[#fff]">Features</h2>

    <div class="flex flex-wrap items-center justify-between">
      <div
        class="w-[calc(25%-20px)] bg-blue-700 text-center rounded-md py-12 px-6 cursor-pointer"
      >
        <i class="fas fa-robot"></i>
        <div class="text-[25px] font-medium mt-3 mb-2">Play Music</div>
        <p class="text-lg">
          Play any music straight on your discord from youtube ,spotify and soundcloud.
        </p>
      </div>
      <div
        class="w-[calc(25%-20px)] bg-blue-700 text-center rounded-md py-12 px-6 cursor-pointer"
      >
        <i class=""></i>
        <div class="text-[25px] font-medium mt-3 mb-2">Play Music</div>
        <p class="text-lg">Play Music straight on your discord</p>
      </div>
      <div
        class="w-[calc(25%-20px)] bg-blue-700 text-center rounded-md py-12 px-6 cursor-pointer"
      >
        <i class=""></i>
        <div class="text-[25px] font-medium mt-3 mb-2">Play Music</div>
        <p class="text-lg">Play Music straight on your discord</p>
      </div>
      <div
        class="w-[calc(25%-20px)] bg-blue-700 text-center rounded-md py-12 px-6 cursor-pointer"
      >
        <i class=""></i>
        <div class="text-[25px] font-medium mt-3 mb-2">Play Music</div>
        <p class="text-lg">Play Music straight on your discord</p>
      </div>
    </div>
  </div>
</div>
