<div
  class="py-0 px-0 w-full h-1/2 m-auto flex flex-col items-center justify-center text-center text-white"
>
  <div class="text-7xl font-bold">
    <h1>Vibr</h1>
  </div>
  <div class="text-5xl font-semibold pt-5">The Best Music Bot You need!</div>
  <div class="text-neutral-400 text-xl mt-7 mb-4 font-semibold">
    Listen to High Quality songs now!
  </div>
  <div>
    <a class="invite" href="">Invite Now</a>
  </div>
</div>

<style>
  .invite {
    @apply relative inline-block bg-bot-300 text-white py-3 px-9 rounded-md hover:bg-bot-500 font-bold hover:scale-125 transition-all duration-300 ease-in-out;
  }
</style>
