<div class="grid grid-cols-2 mt-20">
    <div id="Sound" class="flex flex-col justify-center align-middle">
        <h1 class = "text-3xl">Play you Songs!</h1>
        <p class="mt-4 text-sm">Vibr is built to solve your music needs in your discord server in no time.</p>
    </div>

    <div id="soundImages">
        <img src ="/images/sample.jpg" class="w-3/4 border-2 rounded-xl">
    </div>
</div>