---
// SPDX-License-Identifier: MIT
import Head from "../components/common/Head.astro";
import Home from "../components/sections/Home.astro";
import Nav from "../components/common/Nav.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head
      title="Vibr Music Bot"
      description="A music bot you can vibe with :)"
      url="/logo.webp"
      color="#8000FF"
    />
  </head>

  <body class="home-bg">
    <Nav />
    <main class="text-white font-normal">
      <section class="flex w-full">
        <Home />
      </section>
    </main>
  </body>
</html>
