---
// SPDX-License-Identifier: MIT
import Head from "../components/common/Head.astro";
import Home from "../components/sections/Home.astro";
import Nav from "../components/common/Nav.astro";
import Features from "../components/sections/Features.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head />
  </head>

  <body class="home-bg font-normal">
    <Nav />
    <main class="text-white font-normal">
      <section class="flex w-full h-screen justify-center">
        <Home />
      </section>
      <section class="bg-home flex-col h-full justify-between">
        <Features />
      </section>
    </main>
  </body>
</html>
