---
// SPDX-License-Identifier: MIT
import Head from "../components/Head.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head />
  </head>

  <body>
    <div class="bg-purple-700">
      <section class="p-10 text-5xl flex justify-center items-center">
        <h1 class="text-white">text</h1>
      </section>
    </div>
  </body>
</html>
