---
// SPDX-License-Identifier: MIT
import Head from "../components/Head.astro";
import Home from "../components/sections/Home.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head />
  </head>

  <body class="m-0 p-0 box-border">
    <main class="h-full bg-[#272934] text-white font-normal">
      <section class="flex w-full justify-center h-full">
        <Home />
      </section>
    </main>
  </body>
</html>
