---
// SPDX-License-Identifier: MIT
import Head from "../components/Head.astro";
import Home from "../components/sections/Home.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head
      title="Vibr Discord Music Bot"
      description="A music bot you can vibe with :)"
      url="https://cdn.discordapp.com/avatars/882491278581977179/75a4e9b652b67615199405c14a670e08.png"
      color="#8000FF"
    />
  </head>

  <body class="m-0 p-0 box-border bg-main bg-clip-border bg-no-repeat bg-cover ">
    <main class="h-screen text-white font-normal">
      <section class="flex w-full h-screen">
        <Home />
      </section>
    </main>
  </body>
</html>
