---
import Nav from "../components/Nav.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vibr | Premium</title>
  </head>
  <body class="bg-grey-200 text-white">
    <Nav />
    <section class="flex flex-wrap justify-center">
      <div
        class="p-1 w-72 m-4 bg-gradient-to-br from-purple-500 to-teal-500 rounded-2xl"
      >
        <div class="bg-grey-300 rounded-xl p-4 h-full w-full flex flex-col">
          <h2 class="text-3xl font-semibold mb-6 text-center">24/7</h2>
          <div class="mx-auto w-full text-center mb-7">
            <span class="text-teal-900"
              >$<span class="text-3xl font-semibold p-1">0.99</span></span
            >/month
          </div>
          <ul class="list-disc list-inside mb-6">
            <li>Fully refundable for 7 days.</li>
            <li>24/7 mode</li>
          </ul>
          <div
            class="px-10 text-center mx-auto w-full mt-auto py-2 rounded-lg bg-gradient-to-br from-purple-500 to-teal-500"
          >
            <a class="font-bold text-lg">Subscribe</a>
          </div>
        </div>
      </div>
      <div
        class="p-1 w-72 m-4 bg-gradient-to-br from-purple-500 to-teal-500 rounded-2xl"
      >
        <div class="bg-grey-300 rounded-xl p-4 h-full w-full flex flex-col">
          <h2 class="text-3xl font-semibold mb-6 text-center">Extra Bot</h2>
          <div class="mx-auto w-full text-center mb-7">
            <span class="text-teal-900"
              >$<span class="text-3xl font-semibold p-1">2.69</span></span
            >/month
            <div class="mt-1 text-purple-900">
              +$<span class="text-xl font-semibold">1.69</span> for 24/7 in both bots
            </div>
          </div>
          <ul class="list-disc list-inside mb-6">
            <li>Fully refundable for 7 days.</li>
            <li>Optional 24/7 extra</li>
          </ul>
          <div
            class="px-10 text-center mx-auto w-full mt-auto py-2 rounded-lg bg-gradient-to-br from-purple-500 to-teal-500"
          >
            <a class="font-bold text-lg">Subscribe</a>
          </div>
        </div>
      </div>
      <div
        class="p-1 w-72 h-96 m-4 bg-gradient-to-br from-purple-500 to-teal-500 rounded-2xl"
      >
        <div class="bg-grey-300 rounded-xl p-4 h-full w-full flex flex-col">
          <h2 class="text-3xl font-semibold mb-6 text-center">Extra Bot x 3</h2>
          <div class="mx-auto w-full text-center mb-7">
            <span class="text-teal-900"
              >$<span class="text-3xl font-semibold p-1">5.99</span></span
            >/month
            <div class="mt-1 text-purple-900">
              +$<span class="text-xl font-semibold">2.49</span> for 24/7 in both bots
            </div>
          </div>
          <ul class="list-disc list-inside mb-6">
            <li>Fully refundable for 7 days.</li>
            <li>Optional 24/7 extra</li>
            <li>Save 26%</li>
            <li>Save 50% on 24/7 extra</li>
          </ul>
          <div
            class="px-10 text-center mx-auto w-full mt-auto py-2 rounded-lg bg-gradient-to-br from-purple-500 to-teal-500"
          >
            <a class="font-bold text-lg">Subscribe</a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
