---
import Nav from "../components/Nav.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vibr | Premium</title>
  </head>
  <body class="bg-grey-200 text-white">
    <Nav />
    <section class="flex flex-wrap justify-center">
      <div
        class="p-1 w-56 m-4 bg-gradient-to-br from-purple-500 to-teal-500 rounded-2xl"
      >
        <div class="bg-grey-300 rounded-xl p-8 h-full w-full">
          <h2 class="text-3xl font-semibold mb-6 text-center">24/7</h2>
          <div class="mx-auto w-full text-center">
            <span class="text-teal-900"
              >$<span class="text-3xl font-semibold p-1">0.99</span></span
            >/month
          </div>
        </div>
      </div>
      <div
        class="p-1 w-50 m-4 bg-gradient-to-br from-purple-500 to-teal-500 rounded-2xl"
      >
        <div class="bg-grey-300 rounded-xl p-6 h-full w-full">
          <h2 class="text-xl font-semibold mb-2">Extra Bot</h2>
          $<span class="text-3xl text-teal-900 font-semibold p-1">2.69</span>/month
          <ul class="list-disc list-inside">
            <li>h</li>
          </ul>
        </div>
      </div>
      <div
        class="p-1 w-50 m-4 bg-gradient-to-br from-purple-500 to-teal-500 rounded-2xl"
      >
        <div class="bg-grey-300 rounded-xl p-6 h-full w-full">
          <h2 class="text-xl font-semibold mb-2">Extra Bot x 3</h2>
          $<span class="text-3xl text-teal-900 font-semibold p-1">5.99</span>/month
          <ul class="list-disc list-inside">
            <li>h</li>
          </ul>
        </div>
      </div>
    </section>
  </body>
</html>
