<main>
  <h1>High quality music, in Discord, for free.</h1>
  <div>Invite Now</div>
  <div>
    <div>
      <p>Servers</p>
      <p>70487</p>
    </div>
    <div>
      <p>Users</p>
      <p>4129747</p>
    </div>
    <div>
      <p>Songs Played</p>
      <p>10783762</p>
    </div>
    <div>
      <p>Commands Ran</p>
      <p>59984628</p>
    </div>
  </div>
</main>
