---
const links: Record<string, string> = {
  Home: "/",
  Support: "/support",
  Features: "/#features",
  Commands: "/docs",
  Donate: "/donate",
};
---

<nav class="p-5 bg-nav pb-10">
  <a href="#"><img src="/logo.webp" alt="Vibr's logo" width="64" height="64" /></a>
</nav>
