---
const links: Record<string, string> = {
  Home: "/",
  Support: "/support",
  Features: "/#features",
  Commands: "/docs",
  Donate: "/donate",
};
---

<nav>
  <img src="/logo.webp" alt="Vibr's logo" />
</nav>
